<br><br><hr>
<footer class="footer"> 
    Group UG19 - Developing Secure Software CW 2
    <br> <br>
    <div class="row">
        <a href="https://github.com/JimJam117/DSS_Project_UG19" class="footer-link">Github Code</a> 
        <br>
        <a href="/report" class="footer-link">Report something</a>
    </div>

    <br> <br>
</footer>
</body>
</html>