<br><br><hr>
<footer class="footer"> 
    Group UG19 - Developing Secure Software CW 2
    <br> <br>
    <a href="https://github.com/JimJam117/DSS_Project_UG19" class="footer-link">Github Code</a> 
    <br> <br>
</footer>
</body>
</html>