<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/main.css">

    <title>Movie Blog</title>
</head>
<body>

    <!-- TopBar -->
    <div class="topbar">
        <a class="blog_title" href="/"><h1>Movie Blog</h1></a>
        
        <div class="topbar-right">

            <nav>
                <a class="navbar_link" href="/movie">Films</a>
                <a class="navbar_link" href="/signup">Create Account</a>
                <a class="navbar_link" href="/signin">Sign In</a>
            </nav>
    
            <input type="text" name="query" class="search" id="search" placeholder="Search... 🔎"  />
        </div>
</div>