<%- include('partials/header') %>


    <!-- Movies Section -->
    <div class="section movies">
        <a  class="movie_poster" href="/movie"><img src="poster_1.png" alt="poster"></a>
        <a  class="movie_poster" href="/movie"><img src="poster_1.png" alt="poster"></a>
        <a  class="movie_poster" href="/movie"><img src="poster_1.png" alt="poster"></a>
        <a  class="movie_poster" href="/movie"><img src="poster_1.png" alt="poster"></a>
    </div>

    <!-- Recent Reviews Section -->
    <div class="section reviews">
        <h2>Recent Reviews</h2>
        <div class="review">
            <h3>Tom F.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugiat id minus beatae deleniti nesciunt quaerat, consequatur ullam non quod.</p>
        </div>

        <div class="review">
            <h3>Tom F.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugiat id minus beatae deleniti nesciunt quaerat, consequatur ullam non quod.</p>
        </div>

        <div class="review">
            <h3>Tom F.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugiat id minus beatae deleniti nesciunt quaerat, consequatur ullam non quod.</p>
        </div>
    </div>

<%- include('partials/footer') %>