<%- include('partials/header') %>


    <!-- Oops Section -->
    <div class="section">
        <h1>Oops!</h1>
        <p>An error occurred.</p>
        <p>
            <a href="/">Return to home page</a>
        </p>

    </div>

<%- include('partials/footer') %>