<%- include('partials/header') %>


    <!-- Oops Section -->
    <div class="section">
        <h1>Something has gone wrong...</h1>
        <hr>
        <% if(error_code) { %>
            <h3>Error Code: <%= error_code %></h3>
        <% } %>
        
        <% if(msg) { %>
            <p><%= msg %></p>
        <% } else { %>
            <p>An error occurred.</p>
        <% } %>
        <p>
            <a href="/report">Report this error to improve our site</a>
        </p>
        
        <p>
            <a href="/">Return to home page</a>
        </p>

    </div>

<%- include('partials/footer') %>