<%- include('partials/header') %>


    <!-- Oops Section -->
    <div class="section">
        <h1>Sorry about that</h1>

        <% if(!reportSubmitted) { %>
            <h2>Reporting something that doesn't look right will help to improve our website</h2>
            <form action="/report" method="post" content-type="json">
                <textarea class="report_textarea" type="text" id="details" name="details" placeholder="Could you give us more details..."></textarea><br>
                <input type="submit" value="Submit Report">
            </form>
        <% } %>
        <% if(reportSubmitted) { %>
            <h2>Thank you, we will try to resolve this issue as soon as possible</h2>
        <% } %>



        <hr>
        
        
        <p>
            <a href="/">Return to home page</a>
        </p>

    </div>

<%- include('partials/footer') %>