<%- include('partials/header') %>


    <!-- Oops Section -->
    <div class="section">
        <h1>There's something no quite right...</h1>
        <h2>We have logged this and we will get back to you.</h2>
        <!-- TODO: add report form and POST submittion point -->
        <p>TODO: There should be a form here to sumbit a security error</p>

        <hr>
        
        
        <p>
            <a href="/">Return to home page</a>
        </p>

    </div>

<%- include('partials/footer') %>