* {
    
}

a {
    color: aqua;
}

body {
    background-color: #323232;
    color: #d9d9d9;
    font-family: 'Segoe UI', sans-serif;
}

/* Topbar Styles */
.topbar {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.topbar-right {
    display: flex;
    align-items: baseline;
}

.search {
    font-size: 18px;
    padding: 7px;
    margin-left: 10px;
    background: #595959;
    border: 1px solid #343434;
    color: #f6f6f6;
    border-radius: 10px;
  }

.blog_title {
    color: #DB7135;
    font-variant: small-caps;
    text-decoration: none;
}

.navbar_link {
    font-variant: small-caps;
    font-size: larger;
    color: #d9d9d9;
    text-decoration: none;
    margin: 5px 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.logged_in_msg {
    color: #aaaaaa;
}

/* Section Styles */
.section {
    background-color: #454545;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}

.movie_poster img {
    width: 200px;
}

.stars {
    font-size: xx-large;
    color: #DB7135;
}

/* Movie Page Styles */
.moviepage {
    display: flex;
}

.moviepage img {
    max-height: 400px;
}

.moviepage div {
    margin: 0 20px;
}

/* lists */
.list_item {
  margin: 30px;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  text-decoration: none;
  color: #d9d9d9;
}
.list_item_details {
    margin: 0 30px;
}
.list_item_image img {
    width: 300px;
}
.review {
    text-decoration: none;
    color: #d9d9d9;
}

/* Signin */
.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin form {
    text-align: center;
}

.signin input, .review input, .review textarea, .review select {
    font-size: 18px;
    padding: 10px;
    background: #343434;
    border: 1px solid #595959;
    color: #dfdfdf;
    border-radius: 10px;
  }

.error {
    color: rgb(216, 66, 66);
}

.delete_button {
    color: #dfdfdf;
    background-color: rgb(180, 45, 45);
    border: 1px solid rgb(140, 45, 45);
    padding: 3px;
}