* {
    
}

body {
    background-color: #323232;
    color: #d9d9d9;
    font-family: 'Segoe UI', sans-serif;
}

/* Topbar Styles */
.topbar {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.blog_title {
    color: #DB7135;
    font-variant: small-caps;
}

.navbar_link {
    font-variant: small-caps;
    font-size: larger;
    color: #d9d9d9;
    text-decoration: none;
    margin: 5px 15px;
}

/* Section Styles */
.section {
    background-color: #454545;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}

.movie_poster img {
    width: 200px;
}

.stars {
    font-size: xx-large;
    color: #DB7135;
}

/* Movie Page Styles */
.moviepage {
    display: flex;
}

.moviepage img {
    max-height: 400px;
}

.moviepage div {
    margin: 0 20px;
}


/* Signin */
.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin input {
    font-size: 18px;
    padding: 10px;
    background: #343434;
    border: 1px solid #595959;
    color: #dfdfdf;
    border-radius: 10px;
  }